:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  width: 98vw;
  height: 98vw;
  font-size: 1rem;
  margin: 1rem;
  align-self: center;
  flex-direction: row;
  background-color: #000000;
}

div {
  display: flex;
  background-color: aliceblue;
  padding: 1rem;
  /* width: 300px; */
  height: 10rem;
  color: brown;
  gap: 2.5rem;
  border: #000000 2px solid;
  border-radius: 8px;
  justify-content: center;
}

#button button {
  color: rgb(42, 42, 78);
  margin: 10px;
  height: 50px;
  justify-self: center;
  align-self: center;
  background-color: linear-gradient(90deg, rgba(16, 38, 203, 1), rgba(236, 17, 17, 1));
}

#button div:hover {
  background-color: linear-gradient(90deg, rgba(16, 38, 203, 1), rgba(236, 17, 17, 1));
}